<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Profile deletion</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closeWindow()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to delete <span class="text-primary">{{data.firstName}}</span> profile?</strong></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="ngbActiveModal.dismiss(!isConfirm)">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="deleteUser(isConfirm)">Okay</button>
</div>
